# Ignore virtual environment
venv/
env/

# Ignore database files
*.sqlite3

# Ignore compiled Python files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore environment variables
.env

# Ignore logs and cache
*.log
*.cache
